<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="style.css">
    <title>Fable</title>
</head>
<body>
    <div id='app'>
        <!-- navbar -->
        <nav>
            <div class='logo'>
                <img src="./images/logo.png" alt="">
            </div>

            <div class='nav-icon'>
                <ul>
                    <li v-for='icon in icons'>
                        <img class='pad-20':src="'./images/' + icon.link + '.png'" alt="">
                      <span class='name-icon'>{{icon.name}}</span> 
                    </li>                   
                </ul>
            </div>            
        </nav>

        <!-- jumbotron -->
        <section class='jumbotron'>
            <img class='train' src="./images/slider_slide3_img2.png" alt="">

            <img class='toys' src="./images/slider_slide3_img3.png" alt="">

        </section>

        <section class='row'>
            <h2>How to Enroll Your Child to a Class?</h2>
            <div class='btn'> <button>LEARN MORE <i class="fas fa-chevron-right"></i></button></div>           
        </section>

        <!-- welcome to fable -->
        <section class='features'>
            <div class='nav'>
                <h2 class='text-h2'>Welcome to Fable</h2>
                <p class='text-p'>Fable daycare, preschool, and kindergarten</p>

                <img class='divider' src="./images/header_divider.png" alt="">
            </div>

            <div class='list-circle'>
                <div class='box'>
                    <div class='margin-auto circle-img back-colororange'> 
                        <img src="./images/schoolbag_alt.png" alt="">
                    </div>

                    <h3>Morbi Etos</h3>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione tempora sint velit cumque maxime</p>
                    
                </div>
                    
                <div class='box'>
                    <div class='margin-auto circle-img back-colorpurple'> 
                        <img src="./images/stroller_alt.png" alt="">
                    </div>

                    <h3>Congue Gravida</h3>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione tempora sint velit cumque maxime</p>
                    
                </div>

                <div class='box'>
                    <div class='margin-auto circle-img back-colororange'> 
                        <img src="./images/globe_alt.png" alt="">
                    </div>

                    <h3>Maecenas Node</h3>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione tempora sint velit cumque maxime</p>
                    
                </div>

                <div class='box'>
                    <div class='margin-auto circle-img back-colorpurple'> 
                        <img src="./images/bell_alt.png" alt="">
                    </div>

                    <h3>Present Morbi</h3>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione tempora sint velit cumque maxime</p>
                    
                </div>
            </div>

        </section>        

        <!-- slider -->
        <section class='slider'>

            <div class='col-lg-4 box-sx'>

                <button class='back-colororange'>Overview</button>

                <p>Our Mission</p>

                <p class='info'>Our philosophy is learning through play as we offer a stimulating environment for children.</p>

                <div class='d-flex'>
                    <div class='img circle-img back-colororange'>
                        <img src="./images/clock_alt.png" alt="">                        
                    </div>

                    <div class='day-session'>
                        <h4>Full Day Sessions</h4>
    
                        <p>Pulvinar es metro ligula blandit maecenas retrum gravida cuprum. Maecenas node estibulum.</p> 
                    </div>
                     
                </div>

                <div class='d-flex'>
                    <div class='img circle-img back-colororange'>
                        <img src="./images/diagram_alt.png" alt="">                        
                    </div>
                    
                    <div class='day-session'>
                        <h4>Full Day Sessions</h4>
    
                        <p>Pulvinar es metro ligula blandit maecenas retrum gravida cuprum. Maecenas node estibulum.</p>  
                    </div>
                        
                </div>               
                
            </div>

            <div class='col-lg-4 box-dx'>
                <img class='first-photo' src="./images/gallery_01-690x506.jpg" alt="">

                <div class='photos'>
                    <img src="./images/gallery_07-690x506.jpg" alt="">

                    <img src="./images/gallery_01-690x506.jpg" alt="">

                    <img src="./images/gallery_08-690x506.jpg" alt="">
                </div>
                
            </div>
        </section>

        <!-- statistiche -->
        <section class='data'>
            <div class='container-data'>
                <div class='box'>
                    <div class='circle-img-white'> 
                        <span class='pad-40'>507</span>
                    </div>
    
                    <h3>Our Pupils</h3>
    
                    <p>Pulvinar forte maestro node terminal est elipsis prism.</p>
                    
                </div>
    
                <div class='box'>
                    <div class='circle-img-white'> 
                        <span class='pad-40'>235</span>
                    </div>
    
                    <h3>Teaching Hours</h3>
    
                    <p>Pulvinar forte maestro node terminal est elipsis prism.</p>
                    
                </div>
    
                <div class='box'>
                    <div class='circle-img-white'> 
                        <span class='pad-40-30'>100%</span>
                    </div>
    
                    <h3>Satisfied Parents</h3>
    
                    <p>Pulvinar forte maestro node terminal est elipsis prism.</p>
                    
                </div>
    
                <div class='box'>
                    <div class='circle-img-white'> 
                        <span class='pad-40-30'>1050</span>
                    </div>
    
                    <h3>Miles Per Year</h3>
    
                    <p>Pulvinar forte maestro node terminal est elipsis prism.</p>
                    
                </div>
            </div>         

        </section>

        <!-- our classes -->
        <section class='classes'>
            <div class='nav'>
                <h2 class='text-h2'
                >Our Classes</h2>
                <p class='text-p'>Our preschool program has four dedicated classes</p>

                <img class='divider' src="./images/header_divider.png" alt="">
            </div>

            <div class='info-class'>
                <div class='info-box'>
                    <p class='font-400'>
                        We provided four classes with nine to twenty children each aged twelve month to five years of age.
                    </p>
                </div>
               
                <div class='info-box'>
                    <small>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia sed distinctio nesciunt, fugit earum nihil provident
                    </small>
                </div>
                
            </div>

            <div class='purple-size'>

                <div class='purple-box'>
                    <div class='purple'>
                    
                            <h5>Little lambs</h5>     
                            <p>Class name</p>
                                             
                        <div class='months-old'>
                            <div>
                                <h5>12-24</h5>
                                <p>Months old</p>
                            </div>  
                            
                            <div class='class'>
                                <h5>9</h5>
                                <p>Class size</p>
                            </div>  
                            
                        </div>
                    </div>
                    <img src="./images/gallery_04-690x506.jpg" alt="">

                    <button class='back-colororange'>READ MORE <i class="fas fa-chevron-right"></i></button>
                </div>

                <div class='purple-box'>
                    <div class='purple'>
                      
                            <p>Bouncy Bears</p>     <small>Class name</small>
                                              

                            <div class='months-old'>
                                <div>
                                    <h5>2-3</h5>
                                    <p>Years old</p>
                                </div>  
                                
                                <div class='class'>
                                    <h5>12</h5>
                                    <p>Class size</p>
                                </div>  
                                
                            </div>
                    </div>
                    <img src="./images/class_02-690x506.jpg" alt="">

                    <button class='back-colororange'>READ MORE <i class="fas fa-chevron-right"></i></button>
                </div>

            </div>

            <!-- second row -->
            <div class='purple-size'>

                <div class='purple-box'>
                    <div class='purple'>

                        <p>Tenderhearts</p>     
                        <small>Class name</small>
                                               

                        <div class='months-old'>
                            <div>
                                <h5>3-4</h5>
                                <p>Years old</p>
                            </div>  
                            
                            <div class='class'>
                                <h5>15</h5>
                                <p>Class size</p>
                            </div>                              
                        </div>

                    </div>
                    <img src="./images/class_03-690x506.jpg" alt="">

                    <button class='back-colororange'>READ MORE <i class="fas fa-chevron-right"></i></button>
                </div>

                <div class='purple-box'>
                    <div class='purple'>
                        
                            <p>Shining stars</p>     <small>Class name</small>              

                       
                        <div class='months-old'>
                            <div>
                                <h5>4-5</h5>
                                <p>Years old</p>
                            </div>  
                            
                            <div class='class'>
                                <h5>20</h5>
                                <p>Class size</p>
                            </div>                              
                        </div>

                    </div>
                    <img src="./images/class_04-690x506.jpg" alt="">

                    <button class='back-colororange'>READ MORE <i class="fas fa-chevron-right"></i></button>
                </div>       

            </div>

        </section>

        <!-- info -->
        <section class='info pad-20'>

            <div class='box-sx'>
                <p class='font-400'>
                    We provided four classes with nine to twenty children each aged twelve month to five years of age.
                </p>

                <small>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia sed distinctio nesciunt, fugit earum nihil provident
                </small>

                <ul>
                    <li class='check-list'>
                        <img src="./images/style_1.png" alt=""> 
                        <small> Comprehensive reporting on individual achievement</small>
                    </li>
                    <li class='check-list'>
                        <img src="./images/style_1.png" alt=""> 
                        <small> Comprehensive reporting on individual achievement</small>
                    </li>
                    <li class='check-list'>
                        <img src="./images/style_1.png" alt=""> 
                        <small> Comprehensive reporting on individual achievement</small>
                    </li>
                    <li class='check-list'>
                        <img src="./images/style_1.png" alt=""> 
                        <small> Comprehensive reporting on individual achievement</small>
                    </li>
                    <li class='check-list'>
                        <img src="./images/style_1.png" alt=""> 
                        <small> Comprehensive reporting on individual achievement</small>
                    </li>
                    <li class='check-list'>
                        <img src="./images/style_1.png" alt=""> 
                        <small> Comprehensive reporting on individual achievement</small>
                    </li>
                </ul>

            </div>

            <div class='box-dx'>
                <div class='row-up d-flex'>
                    <div class='box-small pad-20'>
                        <div class='margin-auto circle-img-small'> 
                            <img src="./images/toy.png" alt="">
                        </div>
    
                        <h3>Learning & fun</h3>
    
                        <p>Proesent modea est gravida node vehicula luctus</p>
                        
                    </div>
    
                    <div class='box-small pad-20'>
                        <div class='margin-auto circle-img-small'> 
                            <img src="./images/meal.png" alt="">
                        </div>
    
                        <h3>Healthy Meals</h3>
    
                        <p>Proesent modea est gravida node vehicula luctus</p>
                        
                    </div>
                </div>

                <div class='row-down d-flex'>
                    <div class='box-small pad-20'>
                        <div class='margin-auto circle-img-small'> 
                            <img src="./images/school.png" alt="">
                        </div>
    
                        <h3>Friendly place</h3>
    
                        <p>Proesent modea est gravida node vehicula luctus</p>
                        
                    </div>
    
                    <div class='box-small pad-20'>
                        <div class='margin-auto circle-img-small'> 
                            <img src="./images/shield.png" alt="">
                        </div>
    
                        <h3>Children Safety</h3>
    
                        <p>Proesent modea est gravida node vehicula luctus</p>
                        
                    </div>
                </div>
                

            </div>


        </section>

        <!-- gallery -->
        <section class='gallery d-flex'>
            <img src="./images/gallery_01.jpg" alt="">

            <img src="./images/gallery_02.jpg" alt="">

            <img src="./images/gallery_03.jpg" alt="">

            <img src="./images/gallery_04.jpg" alt="">
        </section>

        <section class='row'>
            <h2>See our kindergarten photo gallery</h2>
            <div class='btn'> <button>VIEW GALLERY<i class="fas fa-chevron-right"></i></button></div>           
        </section>

        <!-- meet our staff -->

        <!-- aforisma -->

        <!-- what's new -->

        <!-- google maps -->

        <!-- contact us -->

        <!-- footer -->
        <footer>

            <div class='col-lg-2 box-footer about'>
                <h4>ABOUT</h4>

                <p>
                    Elipsis magna a nulla elite forte maecenas est elementum magna etos interdum movum morbi vehicula morbi.
                </p>

                <img src="./images/logo_footer.png" alt="">
            </div>

            <div class='col-lg-2 box-footer archives'>
                <h4>ARCHIVES</h4>
                <ul>
                    <li v-for='element in months'>
                        <span>{{element.month}}</span>
                    </li>
                </ul>
            </div>

            <div class='col-lg-2 box-footer our-features'>
                <h4>OUR FEATURES</h4>
                <p>
                    Nunc gravida rutrum mauris vehin hasellus ac pretium augue vivamul lacus ligul mattis ac vene:
                </p>

                <ul>
                    <li v-for='feature in features' class='check-list'>
                        <img src="./images/style_4_alt.png" alt=""> 
                        <small> {{feature.info}}</small>
                    </li>
                    
                </ul>

            </div>

            <div class='box-footer col-lg-2 recent-post'>
                <h4>RECENT POST</h4>

                <ul>
                    <li v-for='post in posts'>
                        <img class='photo':src="'./images/blog' + post.image + '.jpg'" alt="">

                        <div class='post'>
                            <p>{{post.lesson}}</p>
                            <img class='calendar' src="./images/date_footer.png" alt="">
                            <p class='d-inline'>{{post.data}}</p>
                        </div>
                    </li>

                    
                </ul>
            </div>

        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>