<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="style.css">
    <title>Fable</title>
</head>
<body>
    <div id='app'>
        <!-- navbar -->
        <nav>
            <div class='logo'>
                <img src="./images/logo.png" alt="">
            </div>

            <div class='nav-icon'>
                <ul>
                    <li v-for='icon in icons'>
                        <img :src="'./images/' + icon.link + '.png'" alt="">
                      <span class='name-icon'>{{icon.name}}</span> 
                    </li>                   
                </ul>
            </div>            
        </nav>

        <!-- jumbotron -->
        <section class='jumbotron'>
            <img class='train' src="./images/slider_slide3_img2.png" alt="">

            <img class='toys' src="./images/slider_slide3_img3.png" alt="">

        </section>

        <section class='row'>
            <h2>How to Enroll Your Child to a Class?</h2>
            <div class='btn'> <button>LEARN MORE <i class="fas fa-chevron-right"></i></button></div>           
        </section>

        <!-- welcome to fable -->
        <section class='features'>
            <div class='nav'>
                <h2 class='text-h2'>Welcome to Fable</h2>
                <p class='text-p'>Fable daycare, preschool, and kindergarten</p>

                <img class='divider' src="./images/header_divider.png" alt="">
            </div>

            <div class='list-circle'>
                <div class='box'>
                    <div class='circle-img back-colororange'> 
                        <img src="./images/schoolbag_alt.png" alt="">
                    </div>

                    <h3>Morbi Etos</h3>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione tempora sint velit cumque maxime</p>
                    
                </div>
                    
                <div class='box'>
                    <div class='circle-img back-colorpurple'> 
                        <img src="./images/stroller_alt.png" alt="">
                    </div>

                    <h3>Congue Gravida</h3>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione tempora sint velit cumque maxime</p>
                    
                </div>

                <div class='box'>
                    <div class='circle-img back-colororange'> 
                        <img src="./images/globe_alt.png" alt="">
                    </div>

                    <h3>Maecenas Node</h3>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione tempora sint velit cumque maxime</p>
                    
                </div>

                <div class='box'>
                    <div class='circle-img back-colorpurple'> 
                        <img src="./images/bell_alt.png" alt="">
                    </div>

                    <h3>Present Morbi</h3>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione tempora sint velit cumque maxime</p>
                    
                </div>
            </div>

        </section>        

        <!-- slider -->
        <section class='slider'>

            <div class='box-sx'>

                <button class='back-colororange'>Overview</button>

                <p>Our Mission</p>

                <p class='info'>Our philosophy is learning through play as we offer a stimulating environment for children.</p>

                <div>
                    <div class='img circle-img back-colororange'>
                        <img src="./images/clock_alt.png" alt="">                        
                    </div>

                    <h4>Full Day Sessions</h4>
    
                        <p>Pulvinar es metro ligula blandit maecenas retrum gravida cuprum. Maecenas node estibulum.</p>      
                </div>

                <div>
                    <div class='img circle-img back-colororange'>
                        <img src="./images/diagram_alt.png" alt="">                        
                    </div>
                    
                    <div>
                        <h4>Full Day Sessions</h4>
    
                        <p>Pulvinar es metro ligula blandit maecenas retrum gravida cuprum. Maecenas node estibulum.</p>  
                    </div>
                        
                </div>               
                
            </div>

            <div class='box-dx'>
                <img src="./images/gallery_01-690x506.jpg" alt="">
            </div>
        </section>

        <!-- statistiche -->
        <section class='data'>
            <div class='container-data'>
                <div class='box'>
                    <div class='circle-img-white'> 
                        <span class='pad-40'>507</span>
                    </div>
    
                    <h3>Our Pupils</h3>
    
                    <p>Pulvinar forte maestro node terminal est elipsis prism.</p>
                    
                </div>
    
                <div class='box'>
                    <div class='circle-img-white'> 
                        <span class='pad-40'>235</span>
                    </div>
    
                    <h3>Teaching Hours</h3>
    
                    <p>Pulvinar forte maestro node terminal est elipsis prism.</p>
                    
                </div>
    
                <div class='box'>
                    <div class='circle-img-white'> 
                        <span class='pad-40-30'>100%</span>
                    </div>
    
                    <h3>Satisfied Parents</h3>
    
                    <p>Pulvinar forte maestro node terminal est elipsis prism.</p>
                    
                </div>
    
                <div class='box'>
                    <div class='circle-img-white'> 
                        <span class='pad-40-30'>1050</span>
                    </div>
    
                    <h3>Miles Per Year</h3>
    
                    <p>Pulvinar forte maestro node terminal est elipsis prism.</p>
                    
                </div>
            </div>         

        </section>

        <!-- our classes -->
        <section class='classes'>
            <div class='nav'>
                <h2 class='text-h2'
                >Our Classes</h2>
                <p class='text-p'>Our preschool program has four dedicated classes</p>

                <img class='divider' src="./images/header_divider.png" alt="">
            </div>

            <div class='info-class'>
                <div class='info-box'>
                    <p class='font-400'>
                        We provided four classes with nine to twenty children each aged twelve month to five years of age.
                    </p>
                </div>
               
                <div class='info-box'>
                    <small>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia sed distinctio nesciunt, fugit earum nihil provident
                    </small>
                </div>
                
            </div>

            <div class='purple-size'>

                <div class='purple-box'>
                    <div class='purple'>
                        <div>
                            <p>Little lambs</p>     <small>Class name</small>
                        </div>                        

                        <div class='months-old'>
                            <span>12-24</span>
                            <p>Months old</p>
                            
                        </div>
                    </div>
                    <img src="./images/gallery_04-690x506.jpg" alt="">

                    <button class='back-colororange'>READ MORE <i class="fas fa-chevron-right"></i></button>
                </div>

                <div class='purple-box'>
                    <div class='purple'>
                        <div>
                            <p>Bouncy Bears</p>     <small>Class name</small>
                        </div>                        

                        <div class='months-old'>
                            <span>2-3</span>
                            <p>Years old</p>
                            
                        </div>
                    </div>
                    <img src="./images/class_02-690x506.jpg" alt="">

                    <button class='back-colororange'>READ MORE <i class="fas fa-chevron-right"></i></button>
                </div>

            </div>

            <!-- second row -->
            <div class='purple-size'>

                <div class='purple-box'>
                    <div class='purple'>
                        <div>
                            <p>Tenderhearts
                            </p>     <small>Class name</small>
                        </div>                        

                        <div class='months-old'>
                            <span>3-4</span>
                            <p>Years old</p>
                            
                        </div>
                    </div>
                    <img src="./images/class_03-690x506.jpg" alt="">

                    <button class='back-colororange'>READ MORE <i class="fas fa-chevron-right"></i></button>
                </div>

                <div class='purple-box'>
                    <div class='purple'>
                        <div>
                            <p>Shining stars</p>     <small>Class name</small>
                        </div>                        

                        <div class='months-old'>
                            <span>4-5</span>
                            <p>Years old</p>
                            
                        </div>
                    </div>
                    <img src="./images/class_04-690x506.jpg" alt="">

                    <button class='back-colororange'>READ MORE <i class="fas fa-chevron-right"></i></button>
                </div>       

            </div>

        </section>

        <!-- info -->
        <section class='info'>

            <div class='box-sx'>
                <p class='font-400'>
                    We provided four classes with nine to twenty children each aged twelve month to five years of age.
                </p>

                <small>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia sed distinctio nesciunt, fugit earum nihil provident
                </small>

                <ul>
                    <li class='check-list'>
                        <img src="./images/style_1.png" alt=""> 
                        <small> Comprehensive reporting on individual achievement</small>
                    </li>
                    <li class='check-list'>
                        <img src="./images/style_1.png" alt=""> 
                        <small> Comprehensive reporting on individual achievement</small>
                    </li>
                    <li class='check-list'>
                        <img src="./images/style_1.png" alt=""> 
                        <small> Comprehensive reporting on individual achievement</small>
                    </li>
                    <li class='check-list'>
                        <img src="./images/style_1.png" alt=""> 
                        <small> Comprehensive reporting on individual achievement</small>
                    </li>
                    <li class='check-list'>
                        <img src="./images/style_1.png" alt=""> 
                        <small> Comprehensive reporting on individual achievement</small>
                    </li>
                    <li class='check-list'>
                        <img src="./images/style_1.png" alt=""> 
                        <small> Comprehensive reporting on individual achievement</small>
                    </li>
                </ul>

            </div>

            <div class='box-dx'>

                <div class='box'>
                    <div class='circle-img back-colororange'> 
                        <img src="./images/globe_alt.png" alt="">
                    </div>

                    <h3>Maecenas Node</h3>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione tempora sint velit cumque maxime</p>
                    
                </div>

            </div>


        </section>

        <!-- meet our staff -->

        <!-- aforisma -->

        <!-- what's new -->

        <!-- google maps -->

        <!-- contact us -->

        <!-- footer -->
        <footer>

            <div class='box-footer about'>
                <h4>ABOUT</h4>

                <p>
                    Elipsis magna a nulla elite forte maecenas est elementum magna etos interdum movum morbi vehicula morbi.
                </p>

                <img src="./images/logo_footer.png" alt="">
            </div>

            <div class=' archives'>
                <h4>ARCHIVES</h4>
                <ul>
                    <li v-for='element in months'>
                        <span>{{element.month}}</span>
                    </li>
                </ul>
            </div>

            <div class='box-footer our-features'>
                <h4>OUR FEATURES</h4>
                <p>
                    Nunc gravida rutrum mauris vehin hasellus ac pretium augue vivamul lacus ligul mattis ac vene:
                </p>


            </div>

            <div class=' recent-post'>
                <h4>RECENT POST</h4>
            </div>

        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>