* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* utilities */
.back-colororange {
    background-color: #fe6601;
}

.back-colorpurple {
    background-color: #444275;
}

.pad-20 {
    padding: 20px;
}

.pad-40-30 {
    padding: 40px 30px;
}

.pad-40 {
    padding: 40px;
}

.font-400 {
    font-weight: 400;
}

.d-inline {
    display: inline;
}

.d-flex {
    display: flex;
}

.margin-auto {
    margin: 0 auto;
}

/* navbar */
nav {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 25%;
}


/* icon */
.nav-icon {
    align-self: center;
}

.nav-icon ul {
    display: flex
}

.nav-icon ul li {
    list-style: none;
    text-align: center;
}

.nav-icon ul li:hover {
    background-color: #fe6601;
    color: #fff;
}

.name-icon {
    display: flex;
    justify-content: center;
}

/* jumbotron */
.jumbotron {
    background-image: url('./images/slider_slide3_background.png');
    background-repeat: repeat;
    background-size: contain;
    height: 400px;
    position: relative;
}

.train {
    position: absolute;
    left: 42%;
    top: 58%;
    width: 18%;
}    

.toys {
    position: absolute;
    right: 7%;    
    top: 73%;
    width: 12%;
}

/* row */
.row {
    background: url('./images/pattern.png');
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.row h2 {
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    display: flex;
    align-self: center;
}

.row .btn {
    align-self: center;
}

.row button {
    padding: 10px 15px;
    background-color: #554e9e;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 400;
}

.row button i {
    margin-left: 5px;
    font-size: 11px;
}

.row button:hover {
    background-color: #fff;
    color: #554e9e;
    border: 2px solid #fff;
}

/* welcome to fable */

.features nav {
    display: flex;
    justify-content: center;
}

.text-h2,
.text-p {
    text-align: center;  
    color: #444275;   
}

.text-h2{
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    margin-top: 35px;
}

.text-p {
    margin-top: 12px;
    opacity: 0.7;
}

.nav {
   text-align: center;
}

.divider {
    margin-top: 20px;
}

.features .list-circle {
    display: flex;
    width: 750px;
    margin: 60px auto;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.box p {
    padding: 0 15px;
}

 .circle-img {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    list-style: none;
}


.circle-img img {
    width: 40px;
    position: absolute;
    top: 30%;
    left: 30%;
}

.list-circle .box h3 {
    font-weight: 400;
    color:#444275;
    margin-top: 15px;   
    font-size: 18px;
    opacity: 0.8;
}


/* slider */
.slider {
    background: #e8e6e7;
    display: flex;
    justify-content: center;
}

.box-sx {
    width: 380px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.slider .box-sx button {
    padding: 10px 15px;
    border: 1px solid transparent;
    color: #fff;
    position: relative;
}

.slider .box-sx button::before {
    content:'';
    position: absolute;
    bottom: -5px;
    right: 37px;
    width: 8px;
    height: 8px;
    background-color: #fe6601;
    transform: rotate(45deg);
}

.slider .box-sx p {
    display: inline-block;
    font-weight: 400;
    color: #444275; 
    opacity: 0.7; 
    font-size: 14px;
}

.slider .box-sx .info {
    font-size: 25px;
    margin-top: 15px;
}

.slider .img {
    width: 93px;
    height: 50px;
    position: relative;
    border-radius: 50%;
}

.day-session {
    margin-left: 15px;
}

.slider .img img {
    width: 21px;
    position: absolute;
    top: 28%;
    left: 30%;
}

.box-dx {
    width: 380px;
    margin-top: 30px
}

.slider .box-dx .first-photo{
   width: 100%;
   margin-top: 30px;
   margin-bottom: 15px;
}

.photos img {
    width: 32%;
    margin-left: 2px;
}    

/* data */
.data {
    background: url('./images/parallax_01.jpg');
    background-size: cover;
    background-position: 0px;
    height: 350px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.container-data {
    width: 1000px;
    display: flex;
    align-items: center;
}

.data span {
    border: 1px solid #fff;
    border-radius: 50%;
    font-size:30px;
    font-weight: 300;  
}

.circle-img-white {
    margin: 0 auto;
}

.data h3 {
    margin-top: 50px;
    font-weight: 300;
}

.data p {
    margin-top: 10px;
}

/* classes */
.classes {
    background: #fff;
}

.info-class {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.info-box {
    width: 350px;
    margin-left: 20px;
}

.info-box p,
.info-box small {
    color: #444275;
}

.info-box p {
    font-size: 18px;
}

.info-box small {
    font-size: 15px;
}

.purple-size {
    display: flex;
    justify-content: center;
}

.purple-box {
    width: 350px;
    display: flex;
    color: #fff;
    margin: 15px;
    position: relative;
}

.purple {
    width: 50%;
    background: #444275;
    padding: 15px;
}

.purple-box img {
    width: 50%;
}

.months-old {
     display: flex;
     text-align: center;
     margin-top: 20px;
     opacity: 0.8;
}

.class {
    margin-left: 10px;
    position: relative;
}

.class::after {
    content: '';
    position: absolute;
    height: 35px;
    width: 2px;
    background:        #e8e6e7;
    opacity: 0.5;
    top: 17px;
    left: -6px;
}

.purple-box button {
    padding: 10px 15px;
    border: 1px solid transparent;
    color: #fff;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/* info */
.info {
    display: flex;
    justify-content: center;
    background: #e8e6e7;
}

.info p,
.info small {
    color: #444275;
}

.info p {
    font-size: 18px;
    margin-bottom: 20px;
}

.info small {
    font-size: 15px;
}

.info ul {
    margin-top: 20px;
}

.check-list {
    list-style: none;
    display: flex;
    align-items: center;
    line-height: 25px;
}

.check-list small {
    display: inline;
    font-size: 12px;
    margin-left: 3px;
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    background: url('./images/pattern.png');
    color: #e8e6e7;
    opacity: 0.8;
}

.box-footer {
    margin-top: 15px;
}

footer h4 {
    font-weight: 500;
    font-size: 13px;
    margin: 10px 5px;
    position: relative;
}

footer h4::after {
    content: '';
    display: block;
    width: 35px;    
    height: 2px;
    background: #e8e6e7;    
    margin: 8px 0;
    opacity: 0.5;
}

footer .about img {
    width: 60%;
    margin-top: 20px;
}

footer .archives ul li {
    list-style: none;    
    font-size: 12px;
    border: 1px solid #e8e6e7;
    width: 160px;
    margin-top: 5px;
}

footer .archives ul {
    margin-top: 15px;
}

footer span {
    padding: 8px;   
    line-height: 40px;
}

.recent-post li {
    list-style: none;
    display: flex;
}

.recent-post .photo {
    width: 70%;
    margin-bottom: 15px;
}

.calendar {
    width: 10%;
}

.post {
    margin-left: 5px;
}

